{# Default page.html template #}

{% extends "base.html" %}

{% block content %}
<div class="container is-fluid" style="min-height: 100vh;">
  <div class="is-flex is-flex-direction-column is-justify-content-center" style="min-height: 100vh;">
      {% if page.extra.bibtex and page.extra.link %}
    <h2>{{ page.title }}<a role="button" data-target="copyTarget" aria-haspopup="true" onclick="show_bib('{{ get_url(path=page.extra.bibtex)}}')">
                <span class="tag is-warning">Bibtex</span></a>
<a href="{{ page.extra.link }}" style="font-style: initial;" ><span class="tag is-warning">Link</span></a></h2>
    {% elif page.extra.link  %}
    <h2>{{ page.title }}<a href="{{ page.extra.link }}" style="font-style: initial;" ><span class="tag is-warning">Link</span></a></h2>
    {% else %}
    <h2>{{ page.title }}</h2>
    {% endif %}
    {% if page.extra.authors %}
         <div class="content" style="width:100%">
         <h3>{{ page.extra.authors }}</h3>
    {% endif %}
    {% if page.extra.lead %}<p class="lead">{{ page.extra.lead }}</p>{% endif %}
    <div class="content pb-5">
      {{ page.content | safe }}
    </div>
  </div>
</div>
{% endblock content %}
